.user-new
  %h1.user-new__icon
    = link_to image_tag('logo.png', class: "user-new__icon__image"), "#"
  .user-new__form
    .user-new__form--title
      %h2 新規アカウントの作成
    .user-new__form--for
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .nickname-field
          .nickname-field__text
            = f.label :ニックネーム
            %span.require
              必須
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
        .email-field
          .email-field__text
            = f.label :メールアドレス
            %span.require
              必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .password-field
          .password-field__text
            = f.label :パスワード
            - if @minimum_password_length
              %em
                (#{@minimum_password_length}文字以上)
            %span.require
              必須
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .confimation-field
          .confimation-field__text
            = f.label :パスワード確認
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "アカウント作成"
      %p#link-signin
        -# = render "devise/shared/links"
        = link_to 'サインインの方はこちら', new_user_session_path
  .user-new__footer
  

