
%h1.user-new__icon
  = link_to image_tag('logo.png', class: "user-new__icon__image"), "#"
%main.single-main
  %section.container
    %h2.head
      購入内容の確認
    %section.item
      .inner
        .item-box
          %h3.item-image
            = image_tag("#{@item.item_images[0][:image]}", class: "buy-image")
          .item-data
            %p.item-name
              = @item.name
            %p.item-price
              %span
                = number_to_currency(@item.price, unit: "円", format: "%n%u", precision: 0)
              %span.item-fee
                (税込) 
                = @item.delivery_tax_payer
    %section.item
      .inner
        %form.buy-form
          %ul.price-table
            %li.price-row
              .price-label
                支払い金額
              .price
                %span
                  = number_to_currency(@item.price, unit: "円", format: "%n%u", precision: 0)
          %ul.have-point
            %li.point-box
              .use-point
                %input{type: "checkbox"}
                %label
                  ポイントを使用(所持ポイント: P0)
          %section.user-info
            .user-inner
              %h3
                支払い方法
            - if @default_card_information.blank?
              = link_to "#" do
                %p.info-text
                  %i.fas.fa-plus-circle
                  %span.register
                    登録してください
            - else
              .card
                .card__image
                  = image_tag "#{asset_path @card_image}",width:'120',height:'72', alt:'master-card'
                .card__right
                  .card__right__number
                    %p.bottom カード番号
                    = "**** **** **** " + @default_card_information.last4
                  .card__right__date
                    %p.bottom 有効期限
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
          %section.user-info
            .user-inner
              %h3
                発送先
            .postal_code
              %i.fa.fa-tenge
              = @address.postal_code
            .prefecture 
              = @address.prefecture
            .address
              .city
                = @address.city
              .address_number
                = @address.address_number
            -if @address.building.present?
              .buildung
                = @address.building
            -else
          %section.user-info
        .paybtn
          = form_tag(action: :pay, method: :post) do
            %button 購入する
  .user-new__footer
