
%h1.user-new__icon
  = link_to image_tag('logo.png', class: "user-new__icon__image"), "#"
%main.single-main
  %section.container
    %h2.head
      購入内容の確認
    %section.item
      .inner
        .item-box
          %h3.item-image
            = image_tag("a007.png", class: "buy-image")
          .item-data
            %p.item-name
              = @item.name
            %p.item-price
              %span
                = @item.price
              %span.item-fee
                (税込) 着払い
    %section.item
      .inner
        %form.buy-form
          %ul.price-table
            %li.price-row
              .price-label
                支払い金額
              .price
                %span
                  ¥ 300
          %ul.have-point
            %li.point-box
              .use-point
                %input{type: "checkbox"}
                %label
                  ポイントを使用(所持ポイント: P0)
          %section.user-info
            .user-inner
              %h3
                支払い方法
              = link_to "#" do
                %p.info-text
                  %i.fas.fa-plus-circle
                  %span.register
                    登録してください
              -# = form_tag({ :controller => 'items', :action => 'pay' }, { :method => :post}) do
              -#   %script.payjp-button{"data-key" => "pk_test_cc8194b2b897885b090c8c89", "data-partial" => "true", "data-submit-text" => "登録する", :src => "https://checkout.pay.jp/", :type => "text/javascript"}
          %section.user-info
            .user-inner
              %h3
                発送先
              = link_to "#" do
                %p.info-text
                  %i.fas.fa-plus-circle
                  %span.register
                    登録してください
          %section.user-info
            %button{type: "submit", class: "buy-btn"}
              購入する
    %script.payjp-button{"data-key" => "pk_test_0383a1b8f91e8a6e3ea0e2a9", "data-partial" => "true", "data-submit-text" => "トークンを作成する", :src => "https://checkout.pay.jp/", :type => "text/javascript"}
.user-new__footer
