:javascript
  $(document).ready( function(){
    if (window.name != "test") {
      location.reload();
      window.name = "test";
    } else {
      window.name = "";
      }
  });

.body
  .header
    .header__inner
      .main-header
        %h1.icon
          = link_to image_tag('logo.png', class: "icon__image"), root_path
        .search-box
          .form
            %input{type: "text",class: "search-box__text", placeholder: "キーワードから探す"}
            %button{type: "submit",class: "submit-btn", value: "Send"}
              .search-button
                = image_tag('search.png', class: "search-button__image")
      .nav
        %ul.list-left
          %li.list-left__first
            = link_to "#" do
              カテゴリー
          %li.list-left__last
            = link_to "#" do
              ブランド
        %ul.list-right
          - if (user_signed_in?)
            %li.list-right__logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            %li.list-right__mypage
              = link_to "マイページ", users_show_path(current_user.id)
          - else
            %li.list-right__login
              = link_to new_user_session_path do
                ログイン
            %li.list-right__new
              = link_to new_user_registration_path do
                新規会員登録
.main_page
  .items_name
    = @item.name
  .image
    - if (@item.dealing != nil && @item.dealing[:phase] == true)
      .soldout_neo
        SOLD OUT
    = image_tag "/images/#{@item.item_images[0][:image]}", size: "300x300", class: "main_image"
    %ul.stock
      - @item.item_images.each do |image|
        %li.stock_image{data: {image: {id: image[:image]}}}
          = image_tag "/images/#{image[:image]}", size: "80x80"
  .price_table
    .price
      = number_to_currency(@item.price, unit: "円", format: "%n%u", precision: 0)
    .tax
      (税込)
  .how_to_pay
    = @item.delivery_tax_payer
  .discription
    商品説明
  - if (@item.detail === "")
    .column
      商品説明が設定されていません
  - else
    .column
      = @item.detail
  .item_table
    %ul.item_category
      %li.category
        出品者
      %li.category
        カテゴリー
      %li.category
        ブランド
      %li.category
        商品状態
      %li.category
        送料の負担
      %li.category
        配送元地域
      %li.category
        発送日の目安
    %ul.item_detail
      %li.detail
        = @item.user[:nickname]
      %li.detail
        = "#{@item.item_category.parent.parent.name} ＞ #{@item.item_category.parent.name} ＞ #{@item.item_category.name}"
      %li.detail
        - if (@item.brand != nil)
          = @item.brand
        - else
          カテゴリーが設定されていません
      %li.detail
        = @item.condition
      %li.detail
        = @item.delivery_tax_payer
      %li.detail
        = @item.delivery_from
      %li.detail
        = @item.delivery_days
  - if (user_signed_in? && (@item.dealing == nil || @item.dealing[:phase] == false) && @item.user_id != current_user.id)
    - if @card
      .buy_btn
        %label
          = link_to "購入する", new_item_dealing_path(@item.id), method: :get
    - else
      .buy_btn
        %label
          = link_to "支払い方法を登録する", new_card_path, method: :get
  - elsif (user_signed_in? && (@item.dealing == nil || @item.dealing[:phase] == false) && @item.user_id == current_user.id)
    .buy_btn
      %label
        = link_to "編集する", edit_item_path(@item.id), method: :get;
    .buy_btn
      %label
        = link_to "削除する", item_path(@item.id), method: :delete;

.comment
  .comment__area
    コメントがありません
  = form_with(url: "#", local: true, method: :get, class: "form_style") do |form|
    = form.text_area :text, placeholder: "コメントを入力してください", class: "text_style"
    = form.submit "コメントする", class: "btn_style"
- if (user_signed_in? == false || current_user.id != @item.user_id)
  .footer
    - if (@item.id - 1 != 0)
      .flont_item
        - number = @item.id - 1
        = link_to "＜ 前の商品", item_path(number), method: :get
    - if (Item.all.length >= @item.id + 1)
      .next_item
        - number = @item.id + 1
        = link_to "次の商品 ＞", item_path(number), method: :get
  .category_select
    = link_to "categoryをもっと見る", "#", method: :get
.space_neo
.body
  .top-footer
    %ul.contents
      %li.content
        %h2.content__tittle
          FURIMAについて
        %ul.lists
          %li.list
            = link_to "#" do
              会社概要（運営会社）
          %li.list
            = link_to "#" do
              プライバシーポリシー
          %li.list
            = link_to "#" do
              FURIMA利用規約
          %li.list
            = link_to "#" do
              ポイントに関する特約

      %li.content
        %h2.content__tittle
          FURIMAを見る
        %ul.lists
          %li.list
            = link_to "#" do
              カテゴリー一覧
          %li.list
            = link_to "#" do
              ブランド一覧

      %li.content
        %h2.content__tittle
          ヘルプ＆ガイド
        %ul.lists
          %li.list
            = link_to "#" do
              FURIMAガイド
          %li.list
            = link_to "#" do
              FURIMAロゴ利用ガイドライン
          %li.list
            = link_to "#" do
              お知らせ
    .footer__logo
      = link_to image_tag('logo-white.png', class: "logo__image"), '#'
    %p
      © FURIMA
