!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Saisyukadai
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{ src: "https://ajaxzip3.github.io/ajaxzip3.js" }
  %body
    .notification
      - flash.each do |key, value|
        = content_tag :div, value, class: key
    = yield
